  .card {
      display: flex;
      width: 80%;

      /* Adjust width as needed */
      background-color: #f0f0f0;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
  }

  .card-image {
      width: 150px;
      height: 100%;
      object-fit: cover;
      margin-right: 10px;
  }

  .card-content {
      flex: 1;
      /* Flex to fill remaining space */
  }

  .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
  }

  .card-details {
      margin-bottom: 5px;
      font-size: 0.9rem;
  }

  .card-details span {
      font-weight: bold;
      margin-right: 5px;
  }