<div class="movie-container">
    <div class="poster">
        <img src="https://m.media-amazon.com/images/M/MV5BZDgwY2NiOWEtYzYxOS00ODk4LWJkMTEtMjNiMWUzNWFmMTVjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNzc5MjA3OA@@._V1_SX300.jpg"
            alt="Hit Man (1972) Movie Poster">
    </div>
    <div class="info">
        <h1>Hit Man (1972)</h1>
        <div class="details">
            <p><strong>Rated:</strong> <span class="rating">
                    {{data['Rated']}}
                </span></p>
            <p><strong>Released:</strong> <span class="detail">
                    {{data['Released']}}
                </span></p>
            <p><strong>Runtime:</strong> <span class="detail">
                    {{data['Runtime']}}
                </span></p>
            <p><strong>Genre:</strong> <span class="detail">
                    {{data['Genre']}}
                </span></p>
            <p><strong>Director:</strong> <span class="detail">
                    {{data['Director']}}
                </span></p>
            <p><strong>Writer:</strong> <span class="detail">
                    {{data['Writer']}}
                </span></p>
            <p><strong>Actors:</strong> <span class="detail">
                    {{data['Actors']}}
                </span></p>
            <p><strong>Plot:</strong> <span class="detail">
                    {{data['Plot']}}
                </span></p>
            <p><strong>Language:</strong> <span class="detail">
                    {{data['Language']}}
                </span></p>
            <p><strong>Country:</strong> <span class="detail">
                    {{data['Country']}}
                </span></p>
            <p><strong>Awards:</strong> <span class="detail">
                    {{data['Awards']}}
                </span></p>
            <p><strong>Ratings:</strong>
                <span class="detail">IMDB:
                    {{data['imdbRating']}} (
                    {{data['imdbVotes']}} votes)
                </span>
            </p>
            <p><strong>Metascore:</strong> <span class="detail">
                    {{data['Metascore']}}
                </span></p>
            <p><strong>Box Office:</strong> <span class="detail">
                    {{data['BoxOffice']}}
                </span></p>
        </div>
    </div>
</div>